
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
    background-color: #E2CEBC;
    margin: 0px;
    padding: 0px;
    
}

a{
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;

}

.navbar{
    background-color: #EDE3DA;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.285);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: auto;
    margin-right: auto;
}

.navbar .menu-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
}

 #icon-mobile{
    display: none;
    width: 40px;
    height: 40px;
}

#icon-mobile #icon-open{
    display: block;
    cursor: pointer;
}

#icon-mobile #icon-close{
    display: none;
    cursor: pointer;
}

#icon-mobile svg:hover{
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 50px;
}

.links .link{
    font-size: 0.825rem;
    gap: 34px;
    font-size: 14px;
    font-family: "inter", sans-serif;
    text-transform: uppercase;
}

.links .link, button{
    padding: 0px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500px;
    padding: 8px 12px;
    text-transform: uppercase;
}

.links .link.active, button.action{
    background-color: #E2CEBC;
    padding: 8px 12px;
    border-radius: 4px;
}

.links .link:hover, button:hover{
 background-color: #3c3a360d;
 border-radius: 4px;
 transition: 0.3s;
}

.dropdown{
    position: relative;
}


.dropdown-menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    top: 48px;
    left: 20px;
    position: absolute;
    z-index: 2;
}

.dropdown-menu .dropdown-links{
    background-color: #EDE3DA;
    border-radius: 0px 0px 4px 4px;
    
}

.dropdown-menu .dropdown-links li{
    color: #000000;
    padding: 10px 30px; 
 }

 .dropdown-menu .dropdown-links li:hover{ 
    background-color: #3c3a360f;
 transition: 0.3s;
 }

 .close-open{
    display: flex !important;
    flex-direction: column;
 }


@media (max-width: 950px){
    .navbar{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 50px;
        padding-right: 50px;
    }

    
.dropdown-menu{
    gap: 20px;
    top: 55px;
    left: 20px;
}
}

@media (max-width: 800px){

    .navbar{
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
    }

    .navbar .logo svg{
        width: 160px;
        height: 46px;
    }

    .navbar .menu-mobile{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .links{
        display: flex;
        flex-direction: column;
        display: none;  
    }

    #icon-mobile{
        display: block;
    }

    .dropdown-menu{
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E2CEBC; 
        border-radius: 4px;
        padding: 0px 0px;
        gap: 10px;
      }

      .dropdown-menu .dropdown-links{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 4px;
    }

    .dropdown-menu .dropdown-links li{
       width: max-content;
       padding: 10px 53px;  
    }

    .close-open{
        display: flex !important;
     }

}